aside {
  float: right;
}

.aboutUsSection {
  background-color: orange;
  border: solid 2px black;
  margin-bottom: 2%;
  width: 80%;
  padding-left: 2%;
}

.quizDiv {
  position: relative;
  display: inline-block;
  width: 33.33%;
}

.columnleft {
  position: relative;
  width: 620px;
  height: 200px;
  display: inline-block;
  margin: 0 10px 0 10px;
}
.columnright {
  position: relative;
  width: 300px;
  height: 100px;
  display: inline-block;
  margin: 0 10px 0 10px;
}
.gutter {
  width: 20px;
}