aside {
  float: right;
}

.aboutUsSection {
  background-color: orange;
  border: solid 2px black;
  margin-bottom: 2%;
  width: 80%;
  padding-left: 2%;
}

.quizDiv {
  position: relative;
  display: inline-block;
  width: 33.33%;
}

